.banner {
  background-image: url(../images//bannerCar.jpg);
  background-position: 0 -275px;
  background-size: cover;
  padding: 250px 0;
}

.cursor {
  cursor: pointer;
}

section {
  padding: 50px 0;
}
.cajacarro {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  transition-duration: 0.5s;
}

.cajacarro img {
  transition: all 5s ease-in;
  width: 800px;
}

.cajacarro .colores {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.cajacarro .colores span {
  border-radius: 50%;
  cursor: pointer;
  height: 45px;
  margin: 0 5px;
  position: relative;
  transition-duration: 0.5s;
  width: 45px;
  z-index: 2;
}
.cajacarro .colores span:is(:hover) {
  box-shadow: 0 0 0 2px #000;
  scale: 1.1;
}

/*conversiones colores*/

.cajacarro span.one,
.cajacarro .colores i.one {
  background: #838383;
  transition-duration: 0.5s;
}

.cajacarro span.two,
.cajacarro .colores i.two {
  background-color: #33a8ff;
  transition-duration: 0.5s;
}

.cajacarro span.three,
.cajacarro .colores i.three {
  background: #29cf84;
  transition-duration: 0.5s;
}

.cajacarro span.four,
.cajacarro .colores i.four {
  background: #fe5c16;
  transition-duration: 0.5s;
}
.cajacarro span.five,
.cajacarro .colores i.five {
  background: #6200ff;
  transition-duration: 0.5s;
}
.cajacarro span.six,
.cajacarro .colores i.six {
  background: rgb(0, 255, 242);
  transition-duration: 0.5s;
}
.cajacarro span.seven,
.cajacarro .colores i.seven {
  background: rgb(255, 196, 0);
  transition-duration: 0.5s;
}

.cajacarro .colores span.active + i {
  border: 1px solid red;
  height: 100%;
  left: 0;
  mix-blend-mode: hue;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media (max-width: 576px) {
  .banner {
    background-image: url(../images//bannerCar.jpg);
    background-position: center;
    background-size: cover;
    padding: 250px 0;
  }
}
@media (min-width: 576px) {
  .banner {
    background-image: url(../images//bannerCar.jpg);
    background-position: center;
    background-size: cover;
    padding: 250px 0;
  }
}
@media (min-width: 1400px) {
  .banner {
    background-image: url(../images//bannerCar.jpg);
    background-position: 0 -275px;
    background-size: cover;
    padding: 250px 0;
  }
}
