html {
  height: 100%;
}
body {
  background: linear-gradient(#2f312f, #0e310a);
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

.login-box {
  background: rgba(0, 0, 0, 0.356);
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  box-sizing: border-box;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
}

.login-box h2 {
  color: #fff;
  font-size: 2rem;
  margin: 0 0 30px;
  padding: 0;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-size: 16px;
  margin-bottom: 30px;
  outline: none;
  padding: 10px 0;
  width: 100%;
}
.login-box .user-box label {
  color: #fff;
  font-size: 16px;
  left: 0;
  padding: 10px 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  transition: 0.5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  color: #17f403;
  font-size: 0.9rem;
  left: 0;
  top: -25px;
}
.btn1,
.btn2 {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  font-weight: bold;
  outline: none;
}
.login-box form .btn1,
.btn2 {
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  letter-spacing: 4px;
  margin-top: 40px;
  overflow: hidden;
  padding: 10px 20px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.login-box .btn1:hover {
  background: #17a30a;
  border-radius: 5px;
  color: #fff;
  /* box-shadow: 0 0 5px #17f40383, 0 0 25px #17f40383, 0 0 50px #17f40383,
    0 0 100px #17f40383; */
}
.login-box .btn2:hover {
  background: #a30a0a;
  border-radius: 5px;
  color: #fff;
  /* box-shadow: 0 0 5px #17f40383, 0 0 25px #17f40383, 0 0 50px #17f40383,
    0 0 100px #17f40383; */
}

.login-box .btn1 span,
.btn2 span {
  display: block;
  position: absolute;
}

.login-box .btn1 span:nth-child(1) {
  animation: btn1-anim1 1s linear infinite;
  -webkit-animation: btn1-anim1 1s linear infinite;
  background: linear-gradient(90deg, transparent, #17f40383);
  height: 2px;
  left: -100%;
  top: 0;
  width: 100%;
}

@keyframes btn1-anim1 {
  0% {
    left: -100%;
  }
  50%,
  100% {
    left: 100%;
  }
}

.login-box .btn1 span:nth-child(2) {
  animation: btn1-anim2 1s linear infinite;
  -webkit-animation: btn1-anim2 1s linear infinite;
  animation-delay: 0.25s;
  background: linear-gradient(180deg, transparent, #17f403);
  height: 100%;
  right: 0;
  top: -100%;
  width: 2px;
}

@keyframes btn1-anim2 {
  0% {
    top: -100%;
  }
  50%,
  100% {
    top: 100%;
  }
}

.login-box .btn1 span:nth-child(3) {
  animation: btn1-anim3 1s linear infinite;
  -webkit-animation: btn1-anim3 1s linear infinite;
  animation-delay: 0.5s;
  background: linear-gradient(270deg, transparent, #17f40383);
  bottom: 0;
  height: 2px;
  right: -100%;
  width: 100%;
}

@keyframes btn1-anim3 {
  0% {
    right: -100%;
  }
  50%,
  100% {
    right: 100%;
  }
}

.login-box .btn1 span:nth-child(4) {
  animation: btn1-anim4 1s linear infinite;
  -webkit-animation: btn1-anim4 1s linear infinite;
  animation-delay: 0.75s;
  background: linear-gradient(360deg, transparent, #17f403);
  bottom: -100%;
  height: 100%;
  left: 0;
  width: 2px;
}

@keyframes btn1-anim4 {
  0% {
    bottom: -110%;
  }
  50%,
  100% {
    bottom: -110%;
  }
}

/* btn2 */

.login-box .btn2 span:nth-child(1) {
  animation: btn2-anim1 1s linear infinite;
  -webkit-animation: btn2-anim1 1s linear infinite;
  background: linear-gradient(90deg, transparent, #f4030383);
  height: 2px;
  left: -100%;
  top: 0;
  width: 100%;
}

@keyframes btn2-anim1 {
  100% {
    left: 100%;
  }
  50%,
  0% {
    left: -110%;
  }
}

.login-box .btn2 span:nth-child(2) {
  animation: btn2-anim2 1s linear infinite;
  -webkit-animation: btn2-anim2 1s linear infinite;
  animation-delay: 0.25s;
  background: linear-gradient(180deg, transparent, #f4030383);
  height: 100%;
  right: 0;
  top: -100%;
  width: 2px;
}

@keyframes btn2-anim2 {
  100% {
    top: 110%;
  }
  50%,
  0% {
    top: -110%;
  }
}

.login-box .btn2 span:nth-child(3) {
  animation: btn2-anim3 1s linear infinite;
  -webkit-animation: btn2-anim3 1s linear infinite;
  animation-delay: 0.5s;
  background: linear-gradient(270deg, transparent, #f4030383);
  bottom: 0;
  height: 2px;
  right: -100%;
  width: 100%;
}

@keyframes btn2-anim3 {
  100% {
    right: 110%;
  }
  50%,
  0% {
    right: -110%;
  }
}

.login-box .btn2 span:nth-child(4) {
  animation: btn2-anim4 1s linear infinite;
  -webkit-animation: btn2-anim4 1s linear infinite;
  animation-delay: 0.75s;
  background: linear-gradient(360deg, transparent, #f4030383);
  bottom: -100%;
  height: 100%;
  left: 0;
  width: 2px;
}

@keyframes btn2-anim4 {
  100% {
    bottom: 110%;
  }
  50%,
  0% {
    bottom: -110%;
  }
}
a {
  position: absolute;
  right: 50px !important;
  right: 20px;
  top: 20px;
}
a:hover {
  color: black !important;
  right: 10px;
  scale: 1.1;
}
