label {
  left: -50px;
  padding-left: 54px;
  position: relative;
  text-align: start !important;
  width: auto;
  width: 92%;
}

img {
  margin: 10px 0;
  width: 800px;
}
form {
  padding: 0 0px !important;
}
body {
  padding: 0 0 50px 0;
}
h2 {
  font-size: 2.5rem;
}

.asw {
  font-size: 1.25rem;
  margin: 5px 10px;
}

fieldset {
  padding: 10px;
}
form fieldset:nth-child(odd) {
  background-color: #daf0ff;
}

input[type="radio"] {
  height: 25px;
  position: relative;
  top: 6px;
  width: 25px;
}

img {
  margin: 0;
  padding: 0;
  width: 600px;
}

.btn {
  background-color: #71c6ff;
  color: #fff;
}
