body {
  background-color: #f2f2f2;
}
.select-container {
  margin: auto;
  min-width: 300px;
  width: 100%;
  flex-wrap: wrap;
}
.disable-tab {
  display: none;
  transition-delay: 5s;
}
.product-content {
  padding: 0px 0;
}

.active-tab {
  display: flex;
  flex-direction: column;
  transition-delay: 5s;
}
.tabs-container {
  border-radius: 10px;
  font-size: 1.25rem;
  margin-top: 50px;
  min-width: 300px;
  padding: 40px;
  width: 100%;
}

img {
  width: 300px;
}
section label {
  font-size: 1.5rem;
}
section select {
  border: transparent !important;
  border-bottom: 1px solid rgb(165, 174, 255) !important;
  box-shadow: none !important;
  font-size: 1.25rem !important;
  outline: none;
  width: 60% !important;
  background-color: transparent !important;
}
.caja {
  background-color: #ffffff;
  border-radius: 8px;
  margin: 10px 0;
}
#fecha select {
  margin-left: -12px !important;
}
.row div {
  padding: 10px;
}
.state {
  font-size: 1rem;
}
h3 {
  font-size: 1.25rem;
}
.row p {
  margin: 0;
  padding: 5px 0;
}

.info-content p {
  font-weight: bold;
  font-size: 1rem;
}
.info-content span.inf {
  font-weight: 500;
}
