label {
  text-align: start !important;
  width: auto;
}

img {
  width: 800px;
  margin: 10px 0;
}
form {
  padding: 0 0px !important;
}

.asw {
  margin: 5px 0;
  padding: 0px 50px;
  font-size: 1.25rem;
}

fieldset span {
  display: block;
  padding: 10px 10px;
  background-color: rgb(90, 154, 238);
  color: #fff;
}

.aswcorrect {
  background-color: green;
  color: #fff;
}
.aswincorrect {
  background-color: red;
  color: #fff;
}
