:root {

  --color-verde4: #567e99;
  --color-blanco: #fff;
  --color-negro: #000;
}
*{
  box-sizing: border-box;
}
header,
footer {
  background-color: var(--color-verde4);
  color: var(--color-blanco);
  padding: 15px 0;
  width: 100%;
}
button {
  border: none !important;
}
button:focus {
  box-shadow: none !important;
  outline: none !important;
}
h1 {
  font-size: 2.5rem;
  margin: auto;
  padding: 0;
  padding-left: 60px;
  text-align: center;
}

.selector-retos {
  margin: auto;
  width: 300px;
}

/* btn hamburger menu */
.animated-icon2 {
  cursor: pointer;
  height: 30px;
  margin: 0px;
  padding: 0;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  width: 30px;
}

.animated-icon2 span {
  -o-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  display: block;
  height: 4px;
  left: 0;
  opacity: 1;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
  width: 100%;
}

.animated-icon2 span {
  background: #ffffff;
}

.animated-icon2 span:nth-child(1) {
  top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
  top: 10px;
}

.animated-icon2 span:nth-child(4) {
  top: 20px;
}

.animated-icon2.open span:nth-child(1) {
  left: 50%;
  top: 11px;
  width: 0%;
}

.animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
  left: 50%;
  top: 11px;
  width: 0%;
}

/* footer */
.by {
  font-size: 1.25rem;
}
