@media (max-width: 575.98px) {
  nav {
    background-color: #252525f6;
  }
  .navbar-toggler {
    margin-right: 3% !important;
    right: 4% !important;
  }
  #menu-header {
    background-color: #252525f6;
  }
  .header {
    height: auto !important;
    padding: 20px 0;
    padding-top: 90px;
  }
  .header h1 {
    font-size: 2rem;
  }
  .header h1 i {
    font-size: 1.5rem;
  }
  .row,
  .row2 {
    height: auto !important;
    padding: 0 5px;
    text-align: start;
  }
  .iphone {
    margin-left: 0;
  }
  .form1 {
    display: none;
  }
  .form2 {
    max-width: 400px;
    min-width: 300px;
    width: 100%;
  }
  .form3 {
    display: block;
    position: relative;
    width: 300px;
  }
  .form3 label {
    position: absolute;
  }
  .down {
    display: none;
  }

  .sct-1,
  .sct-2,
  .sct-3,
  .sct-5 {
    height: auto;
    margin: 0;
    padding: 0 10px !important;
  }

  .text1,
  .text2 {
    font-size: 2.25rem;
  }
  .sct-1 .video {
    padding: 0;
  }
  .sct-1 .video-container {
    height: auto;
  }
  .sct-1 .video-container iframe {
    height: 250px;
  }
  .container-fluid {
    margin: 0;
    padding: 20px 0;
  }
  .iphone-caratula {
    border-radius: 50px;
    height: 600px;
    margin-bottom: 20px;
    margin-top: 40px;
    width: 300px;
  }
  .paragra1,
  .paragra2 {
    font-size: 1.25rem;
    left: 0;
    margin: 5px 0;
    padding: 10px 0;
    text-align: center;
  }
  .txt1,
  .txt2,
  .txt3,
  .txt4,
  .txt5 {
    font-size: 1.25rem;
    margin: auto;
    text-align: center;
  }
  .txt5 {
    margin: 0;
    width: 100%;
  }
  .container-fluid2 {
    height: auto;
    padding: 0;
  }
  .sct-3 img {
    margin: 10px 0;
  }
  .imh {
    margin-top: 0px;
  }
  .jg {
    margin-top: 0px;
  }
  .jk {
    margin-top: 0px;
  }
  .ol {
    margin-top: 0px;
  }
  .di {
    margin-top: 0px;
  }
  .sct-1 h2,
  .sct-2 h2,
  .sct-3 h2,
  .sct-4 h2,
  .sct-color h2 {
    padding: 20px 0;
  }
  .sct-4 {
    padding: 0;
  }
  .sct-5 {
    padding: 20px 15px 50px 15px !important;
  }
  .doble {
    display: none !important;
  }
}

/* up 576  */
@media (min-width: 576px) {
  .sct-1,
  .sct-2,
  .sct-3,
  .sct-4,
  .sct-5,
  .sct-color {
    height: auto;
    margin: 0;
    padding: 30px;
  }
  .sct-4 {
    padding: 0;
  }
  .sct-5 {
    padding: 20px 30px 50px 30px;
  }
  .sct-1 h2,
  .sct-2 h2,
  .sct-3 h2,
  .sct-4 h2,
  .sct-color h2 {
    font-size: 3rem;
    padding: 20px 0;
  }
  .iphone {
    margin-left: 0;
  }
  .form1 {
    display: none;
  }
  .form3 {
    display: block;
    position: relative;
    width: 300px;
  }
  .form3 label {
    position: absolute;
  }
  .paragra1,
  .paragra2 {
    left: 0;
    margin: 0;
    padding: 10px 0;
  }
  .row {
    height: auto;
    margin: auto;
    padding: 0;
  }
  .container-fluid {
    height: auto;
    padding: 20px 0;
  }
  .sct-3 img {
    margin: 10px 0;
  }
  .imh {
    margin-top: 0px;
  }
  .jg {
    margin-top: 0px;
  }
  .jk {
    margin-top: 0px;
  }
  .ol {
    margin-top: 0px;
  }
  .di {
    margin-top: 0px;
  }
  .doble {
    display: none !important;
  }
  .sct-1 .video {
    padding: 0;
  }
  .sct-1 .video-container {
    height: auto;
  }
  .sct-1 .video-container iframe {
    height: 400px;
  }
  .down {
    display: none;
  }
}
/* Large devices desktops, 992px and up */
@media (min-width: 992px) {
  .header {
    height: calc(100vh) !important;
    padding: 50px 0;
  }
  .sct-color {
    height: 100vh;
  }
  .sct-1 {
    height: calc(100vh);
    padding: 0;
  }
  .sct-3 .row {
    height: auto;
    margin: 0;
    padding: 0;
  }
  .down {
    display: block;
    top: 94%;
  }
  .iphone {
    margin-left: 100px;
    max-width: 400px;
    min-width: 200px;
    width: 100%;
  }
  .doble {
    display: block !important;
  }
  .single {
    display: none !important;
  }
  .row3 {
    height: auto;
  }
  .imh {
    margin-top: -40px !important;
  }
  .jk {
    margin-top: -20px !important;
  }
  .ol {
    margin-top: 15px !important;
  }

  .di {
    margin-top: -70px !important;
  }
  .form1 {
    display: block;
  }
  .form1 input {
    width: 400px !important;
  }
  .form3 {
    display: none;
    position: relative;
    width: 300px;
  }
  .form3 label {
    position: absolute;
  }
}
/* // X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .header {
    padding-top: 165px !important;
  }
  .iphone {
    margin-left: 150px;
    max-width: 400px;
    min-width: 200px;
    width: 100%;
  }
  .sct-1 h2,
  .sct-2 h2,
  .sct-3 h2,
  .sct-4 h2,
  .sct-5 h2 {
    font-size: 3.5rem;
    padding: 20px 0 40px 0;
  }
  .down {
    display: block;
    top: 94%;
  }
  .iphone {
    margin-left: 150px;
    max-width: 400px;
    min-width: 200px;
    width: 100%;
  }
  .sct-1 .video-container {
    height: auto;
    width: 100%;
  }
  .sct-1 .video-container iframe {
    height: 450px;
    width: 755px;
  }
}
/* // XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .paragra1 {
    margin-left: 100px;
  }
  .sct-1 .video-container iframe {
    height: 500px;
    width: 95%;
  }
  .text1,
  .text2 {
    font-size: 1.8rem;
    padding: 0 !important;
  }
  .novedades {
    margin-bottom: -20px;
    padding-bottom: 0;
  }
  .imh {
    margin-top: -40px;
  }
  .jk {
    margin-top: -40px !important;
  }
  .jg {
    margin-top: 20px !important;
  }
  .ol {
    margin-top: 15px !important;
  }
  .di {
    margin-top: -100px !important;
  }
  .text-1 {
    padding: 40px 0 !important;
  }
  .text-2 {
    margin-top: -30px;
    padding-bottom: 50px !important;
    padding-top: 0;
  }
}

/* TODO: menor a 375px */
@media (max-width: 374px) {
  .header {
    padding-top: 90px;
  }
  .row,
  .row2 {
    text-align: center;
  }
  .text1,
  .text2 {
    font-size: 1.8rem;
  }

  .txt1,
  .txt2,
  .txt3,
  .txt4,
  .txt5 {
    font-size: 1.25rem;
  }
  .sct-5 {
    padding: 20px 10px 50px 10px !important;
  }

  .container-fluid2 {
    height: auto;
    padding: 0;
  }
  .sct-1 .video-container iframe {
    height: 200px;
  }
}
