:root {
  --color-orange: #f44e08;
  --color-verde1: #567469;
  --color-verde2: #6b7d76;
  --color-verde3: #9aaeac;
  --color-verde4: #568d79;
  --color-azul: #2f598b;
  --color-blanco: #fff;
  --color-negro: #000;
}
* {
  box-sizing: border-box;
}
.bg {
  background-color: var(--color-orange);
  color: #fff;
  font-size: 2.5rem;
  margin-bottom: 50px;
}
.sct-principal p {
  font-size: 1.2rem;
}
.btn-style {
  background-color: var(--color-verde1);
  border-radius: 100px 50px 100px 50px;
  -webkit-border-radius: 100px 50px 100px 50px;
  -moz-border-radius: 100px 50px 100px 50px;
  -ms-border-radius: 100px 50px 100px 50px;
  -o-border-radius: 100px 50px 100px 50px;
  color: var(--color-blanco);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 20px;
  transition-duration: 0.5s;
}
.btn-style:hover {
  background-color: var(--color-verde4);
  box-shadow: 0 3px 8px #000;
  scale: 1.1;
}
.btn-ocultar {
  background-color: var(--color-orange);
  border-radius: 100px 50px 100px 50px;
  -webkit-border-radius: 100px 50px 100px 50px;
  -moz-border-radius: 100px 50px 100px 50px;
  -ms-border-radius: 100px 50px 100px 50px;
  -o-border-radius: 100px 50px 100px 50px;
  color: var(--color-blanco);
  font-size: 1.2rem;
  font-weight: bold;
  padding: 20px;
}
.img-container-s {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  margin: 0 auto 0;
  overflow: hidden;
  padding: 0;
}
.img-container {
  display: flex;
  justify-content: center;
  margin: 0 auto 0;
  padding: 0;
}

.img-container-s img {
  height: 225px !important;
}
.card {
  margin: 0 auto 20px;
  padding: 0;
  width: 420px;
}
h3 {
  background-color: var(--color-verde4);
  color: var(--color-blanco);
  padding: 20px;
}
