html {
  scroll-behavior: smooth;
}
:root {
  --color-primary: #ffae00;
  --color-primary-shadow: #a04001;
  --color-secondary: #5992fe;
  --color-secondary-shadow: #003fae;
  --color-dark-light: #252525;
  --color-light: #ffffff;
}
.barra {
  background-color: #e9e9e9;
  display: block;
  height: 5px;
  position: relative;
  width: 100%;
}
.banner-categories {
  background-image: url("../images/bg.webp");
}

.list-menu-r nav {
  background-color: var(--color-secondary);
  padding: 0.5% 1.5%;
  border-radius: 10px;
  color: #fff;
}

.list-menu-r select {
  font-family: "Poppins", sans-serif !important;
  font-weight: bolder;
}
.list-menu-r select option {
  font-family: "Poppins", sans-serif !important;
  font-weight: 600;
}

.breadcrumb {
  display: flex !important;
  align-items: center !important;
  display: block;
  height: 50px;
  padding: 0;
  margin: 0;
}

.list-menu-r .breadcrumb li a {
  color: #fff !important;
  text-shadow: 2px 2px 1px #000;
}
.list-menu-r .breadcrumb li a:hover {
  color: var(--color-primary) !important;
  text-shadow: 3px 3px 1px #252525;
}

.modal-info-product {
  gap: 30px;
  height: 400px;
}
