:root {
  --color-primary: #ffae00;
  --color-primary-shadow: #a04001;
  --color-secondary: #5992fe;
  --color-secondary-shadow: #003fae;
  --color-dark-light: #252525;
  --color-light: #ffffff;
}
#text-fecha {
  width: 300px;
}

.sct-form {
  background-image: url("../images/bg.webp");
  border-radius: 0px;
  display: block;
  left: 50%;
  max-width: 1100px;
  padding: 20px 0;
  position: fixed !important;
  top: 75px;
  transform: translate(-50%);
  z-index: 100;
}

.sct-compras.active_filter {
  margin: auto;
  margin-top: 190px;
  max-width: 1100px;
}

select {
  width: 100px !important;
}
.sct-compras form input {
  width: 150px !important;
}
.sct-form select {
  width: 300px !important;
}
.sct-form label {
  align-items: center;
  display: inline-block;
  display: flex;
  font-size: 1.25rem;
  height: 42.781px !important;
  justify-content: center;
}
.name-cart-product {
  font-size: 1.5rem !important;
}

.skup,
.cantidadp,
.pricep {
  font-size: 1.5rem !important;
}

.btn-logout {
  position: fixed;
  right: 20px;
  top: 72px;
}
.btn-encuesta {
  left: 20px;
  top: 72px;
  position: fixed;
}

.btn-filter {
  background-color: var(--color-primary);
  border: none;
  border-radius: 8px;
  font-family: "Poppins", sans-serif !important;
  font-weight: 700 !important;
  outline: none;
  padding: 5px 10px;
  transition-duration: 0.5s;
}
.btn-filter:hover {
  background-color: var(--color-secondary);
  color: var(--color-light);
}

h3.fw-comic-titles {
  font-size: 2.25rem;
}

#btnCalcular {
  background-color: var(--color-secondary);
  border: none;
  border-radius: 8px;
  color: var(--color-light);
  outline: none;
  padding: 5px 10px;
  transition-duration: 0.5s;
}
#btnLimpiar {
  background-color: red;
  border: none;
  border-radius: 8px;
  color: var(--color-light);
  outline: none;
  padding: 5px 10px;
  transition-duration: 0.3s;
}
#btnCalcular:hover {
  background-color: var(--color-secondary-shadow);
  scale: 1.1;
}
#btnLimpiar:hover {
  background-color: rgb(122, 0, 0);
  scale: 1.1;
}

.priceV {
  color: #f85151;
}

.mis-compras {
  font-size: 2rem !important;
}
.accordion {
  background-color: transparent;
}
.accordion-header {
  padding: 0;
}
.accordion-button.collapsed {
  color: var(--color-secondary);
  text-shadow: 2px 2px 1px var(--color-secondary-shadow);
}
.accordion-button:not(.collapsed) {
  color: var(--color-primary);
  text-shadow: 2px 2px 1px var(--color-primary-shadow);
  background-color: transparent;
  box-shadow: none !important;
}

.sct-compras {
  margin: auto;
  margin-top: 100px;
  max-width: 1100px;
}

/* @media (max-width: 768px) {
  .sct-compras {
    margin-top: 260px !important;
  }
} */

/* less than 1439px */
@media (max-width: 575.98px) { 
    .sct-form {
    padding-top: 50px;
  }
  .btn-logout {
    position: fixed;
    right: 20px;
    z-index: 1000 !important;
  }
  .btn-encuesta {
    left: 20px;
    position: fixed;
    z-index: 1000 !important;
  }
  .sct-compras {
    margin-top: 110px;
  }
  .sct-compras.active_filter {
  margin: auto;
  margin-top: 220px;
  max-width: 1100px;
}
 }

/* less than 1439px */
/* @media (max-width: 1439px) {
  .sct-form {
    padding-top: 50px;
  }
  .btn-logout {
    position: fixed;
    right: 20px;
    z-index: 1000 !important;
  }
  .btn-encuesta {
    left: 20px;
    position: fixed;
    z-index: 1000 !important;
  }
  .sct-compras {
    margin-top: 110px;
  }
  .sct-compras.active_filter {
  margin: auto;
  margin-top: 220px;
  max-width: 1100px;
}
} */


/* 
@media (max-width: 426px) {
  .sct-compras {
    margin-top: 800px !important;
  }
} */
