:root {
  --color-primary: #ffae00;
  --color-primary-shadow: #a04001;
  --color-secondary: #5992fe;
  --color-secondary-shadow: #003fae;
  --color-dark-light: #252525;
  --color-light: #ffffff;
}

.tabcontent {
  animation: zoom 2s;
  display: none;
  padding: 6px 12px;
}

/* sucursales */
.detalles-tienda .card {
  height: 450px;
  padding: 20px;
  width: 410px;
}

.active-tab {
  display: block;
}
.btn-tab {
  font-size: 1.2rem;
  transition-duration: 0.2s;
  border: none;
  outline: none;
}
.btn-tab:is(:hover, :focus, :target, :active) {
  background-color: var(--color-secondary);
  color: #f2f2f2;
  font-size: 1.2rem !important;
}

.active {
  display: inline-block !important;
}
@keyframes zoom {
  from {
    opacity: 0;
    scale: 0;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.sque-1 {
  background-color: var(--color-primary);
  width: 100%;
  padding: 5px 10px;
  font-size: 1.5rem;
  border-radius: 8px;
}

.sque-2 {
  background-color: var(--color-secondary);
  width: 100%;
  padding: 5px 10px;
  font-size: 1.5rem;
  border-radius: 8px;
}
