.owl-carousel {
  width: 1200px;
}

.item img {
  width: 150px;
}
.title-carousel-item {
  font-size: 1.2rem;
  text-align: center;
}

.card {
  width: 350px !important;
}
.card h2 {
  font-size: 1rem;
  text-align: center;
}
