* {
  box-sizing: border-box;
}
.container {
}
.img-container-boca {
  border: 1px solid red;
  max-width: 1000px;
  position: relative;
}
.boca {
  margin: auto;
  max-width: 1200px;
}
.dientes {
  align-items: center;
  bottom: 0;
  display: flex;
  gap: 5px;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
img {
  width: 100%;
}
.diente {
  background-color: rgba(255, 255, 255, 0.962) !important;
  border: 1px solid transparent !important;
  border-radius: 30px 30px 5px 5px !important ;
  -webkit-border-radius: 30px 30px 5px 5px !important ;
  -moz-border-radius: 30px 30px 5px 5px !important ;
  -ms-border-radius: 30px 30px 5px 5px !important ;
  -o-border-radius: 30px 30px 5px 5px !important ;
  color: black !important;
  height: 110px;
  margin-top: -165px;
  position: absolute;
  width: 140px;
  border: 1px solid rgba(0, 0, 0, 0.251) !important;
}
.diente:hover {
  box-shadow: 0px 0px 2px 2px rgb(0, 26, 255);
}
.diente1 {
  border-radius: 40% 70% 30% 50% / 40% 60% 10% 10% !important;
  -webkit-border-radius: 40% 70% 30% 50% / 40% 60% 10% 10% !important;
  -moz-border-radius: 40% 70% 30% 50% / 40% 60% 10% 10% !important;
  -ms-border-radius: 40% 70% 30% 50% / 40% 60% 10% 10% !important;
  -o-border-radius: 40% 70% 30% 50% / 40% 60% 10% 10% !important;
  height: 170px;
  left: 344px;
  top: 455px;
  width: 117px;
  transform: rotate3d(4, 9, 1, 25deg);
  -webkit-transform: rotate3d(4, 9, 1, 25deg);
  -moz-transform: rotate3d(4, 9, 1, 25deg);
  -ms-transform: rotate3d(4, 9, 1, 25deg);
  -o-transform: rotate3d(4, 9, 1, 25deg);
}
.diente2 {
  border-radius: 40% 40% 30% 50% / 50% 50% 10% 10% !important;
  -webkit-border-radius: 40% 40% 30% 50% / 50% 50% 10% 10% !important;
  -moz-border-radius: 40% 40% 30% 50% / 50% 50% 10% 10% !important;
  -ms-border-radius: 40% 40% 30% 50% / 50% 50% 10% 10% !important;
  -o-border-radius: 40% 40% 30% 50% / 50% 50% 10% 10% !important;
  height: 180px;
  left: 456px;
  top: 459px;
  transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
}
.diente3 {
  border-radius: 40% 40% 30% 20% / 40% 60% 10% 10% !important;
  -webkit-border-radius: 40% 40% 30% 20% / 40% 60% 10% 10% !important;
  -moz-border-radius: 40% 40% 30% 20% / 40% 60% 10% 10% !important;
  -ms-border-radius: 40% 40% 30% 20% / 40% 60% 10% 10% !important;
  -o-border-radius: 40% 40% 30% 20% / 40% 60% 10% 10% !important;
  height: 180px;
  left: 594px;
  top: 458px;
  transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -ms-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
}
.diente4 {
  border-radius: 50% 40% 30% 50% / 40% 40% 10% 10% !important;
  -webkit-border-radius: 50% 40% 30% 50% / 40% 40% 10% 10% !important;
  -moz-border-radius: 50% 40% 30% 50% / 40% 40% 10% 10% !important;
  -ms-border-radius: 50% 40% 30% 50% / 40% 40% 10% 10% !important;
  -o-border-radius: 50% 40% 30% 50% / 40% 40% 10% 10% !important;
  height: 170px;
  left: 725px;
  top: 455px;
  width: 123px;
  transform: rotate3d(4, -9, 1, -33deg);
  -webkit-transform: rotate3d(4, -9, 1, -33deg);
  -moz-transform: rotate3d(4, -9, 1, -33deg);
  -ms-transform: rotate3d(4, -9, 1, -33deg);
  -o-transform: rotate3d(4, -9, 1, -33deg);
  z-index: 10;
}
/* .diente5 {
  border-radius: 40% 35% 30% 40% / 40% 40% 50% 10% !important;
  -webkit-border-radius: 40% 35% 30% 40% / 40% 40% 50% 10% !important;
  -moz-border-radius: 40% 35% 30% 40% / 40% 40% 50% 10% !important;
  -ms-border-radius: 40% 35% 30% 40% / 40% 40% 50% 10% !important;
  -o-border-radius: 40% 35% 30% 40% / 40% 40% 50% 10% !important;
  height: 177px;
  left: 820px;
  top: 430px;
  width: 120px;
  transform: rotate3d(4, -9, -1, -40deg);
  -webkit-transform: rotate3d(4, -9, -1, -40deg);
  -moz-transform: rotate3d(4, -9, -1, -40deg);
  -ms-transform: rotate3d(4, -9, -1, -40deg);
  -o-transform: rotate3d(4, -9, -1, -40deg);
} */
.diente5 {
  border-radius: 50% 65% 30% 100% / 40% 80% 50% 100% !important;
  -webkit-border-radius: 50% 65% 30% 100% / 40% 80% 50% 100% !important;
  -moz-border-radius: 50% 65% 30% 100% / 40% 80% 50% 100% !important;
  -ms-border-radius: 50% 65% 30% 100% / 40% 80% 50% 100% !important;
  -o-border-radius: 50% 65% 30% 100% / 40% 80% 50% 100% !important;
  height: 177px;
  left: 817px;
  top: 431px;
  width: 120px;
  transform: rotate3d(4, -9, -1, -40deg);
  -webkit-transform: rotate3d(4, -9, -1, -40deg);
  -moz-transform: rotate3d(4, -9, -1, -40deg);
  -ms-transform: rotate3d(4, -9, -1, -40deg);
  -o-transform: rotate3d(4, -9, -1, -40deg);
}
.diente6 {
  border-radius: 60% 50% 100% 30% / 70% 40% 100% 50% !important;
  -webkit-border-radius: 60% 50% 100% 30% / 70% 40% 100% 50% !important;
  -moz-border-radius: 60% 50% 100% 30% / 70% 40% 100% 50% !important;
  -ms-border-radius: 60% 50% 100% 30% / 70% 40% 100% 50% !important;
  -o-border-radius: 60% 50% 100% 30% / 70% 40% 100% 50% !important;
  height: 177px;
  left: 250px;
  top: 430px;
  width: 120px;
  transform: rotate3d(-4, -9, -1, 40deg);
  -webkit-transform: rotate3d(-4, -9, -1, 40deg);
  -moz-transform: rotate3d(-4, -9, -1, 40deg);
  -ms-transform: rotate3d(-4, -9, -1, 40deg);
  -o-transform: rotate3d(-4, -9, -1, 40deg);
}

