@import "./font.css";

:root {
  --header-size: 90px;

  /* colors */
  --color-black: #000;
  --color-black-light: #252525;
  --color-orange: #ffbb00;
  --color-bons: #f2f2f2;
  --color-white: #fff;
  --color-gray: #868686;
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
main {
  position: relative;
}
section[id] {
  scroll-margin-top: var(--header-size);
}
.header {
  height: var(--header-size);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.row-down {
  position: absolute;
  font-size: 3rem;
  bottom: 30px;
  left: 49%;
  color: var(--color-orange);
  transform: translate(-49%);
}
.row-down:hover {
  scale: 1.1;
  color: #fff;
}
.header nav {
  font-size: 1.2rem;
  height: inherit;
  padding: 0;
  width: 100%;
}
.navbar-vav {
  width: 100%;
}
.navbar-nav a {
  color: #fff !important;
}
.dropdown-menu a {
  color: #252525 !important;
}

.logo {
  width: 450px;
}

.banner {
  background-attachment: fixed;
  background-image: url("../src/images/gym.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.589);
  color: #fff;
  height: calc(100vh);
  padding-top: var(--header-size);
  width: 100%;
}
.banner h1 {
  font-size: 12rem;
}
.banner p {
  font-size: 1.5rem;
}
.btn-valores {
  text-decoration: none;
  color: #ffbb00;
}
.btn-valores:hover {
  color: #ffbb00;
  text-decoration: underline wavy #ffbb00;
}

.bg-header {
  backdrop-filter: blur(10px) !important;
  background-color: rgba(0, 0, 0, 0.623) !important;
}

.carousel-control-next {
  right: 30px;
}
.carousel-control-prev {
  left: 30px;
}
.carousel-control-next,
.carousel-control-prev {
  bottom: 50%;
  height: 70px;
  top: 50%;
  width: 70px;
}
.fa-chevron-left,
.fa-chevron-right {
  background-color: #000;
  border-radius: 50%;
  color: var(--color-orange);
  font-size: 1.8rem;
  padding: 15px;
}

.pd {
  padding: 0 3%;
}

/* TODO: styles generales */
section h2 {
  margin: 0;
  padding: 22px 0;
}

.bg-bk {
  background-color: var(--color-black);
}
.bg-orange {
  background-color: var(--color-orange);
}
/* titles */
.title-plan,
.title-carousel {
  color: var(--color-bons);
  font-size: 2.5rem;
  font-weight: 800;
}
.title-carousel {
  color: var(--color-black-light);
}

/* carousel */
.salas-equipos {
  color: var(--color-bons);
}
.carousel {
  width: 100%;
}
.carousel img {
  height: 850px;
}

/* sct valores */
.valores {
}

/* tabla de precios  */
.tu-plan {
  color: var(--color-orange);
}
.text-description-plan {
  font-size: 1.5rem;
  max-width: 1100px;
  min-width: 300px;
  text-align: center;
}

.planes .card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 4px #000;
  height: 830px !important;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 0;
  position: relative;
  transition-duration: 0.5s;
  width: 375px;
}

.planes .card:hover {
  box-shadow: 0 0 1px 3px var(--color-orange);
}
.planes .card form {
  bottom: 70px;
  left: 50px;
  position: absolute;
  right: 50px;
}
.card .btn {
  background-color: var(--color-orange);
  bottom: 10px;
  font-weight: 500;
  left: 13%;
  position: absolute;
  transition-duration: 0.5s;
}
.card .btn:hover {
  box-shadow: 0 0 1px 2px var(--color-black-light);
  scale: 1.05;
}
.planes .card-title {
  color: var(--color-black-light);
  font-size: 1.5rem;
  padding: 20px 0 50px;
}
.card-title .blk {
  color: var(--color-orange);
  font-size: 2.25rem;
  font-weight: bolder;
}
.bg-price {
  background-color: var(--color-orange);
}
/* cicle price*/
.price {
  border-radius: 50%;
  color: var(--color-black-light);
  display: block;
  font-size: 2.25rem;
  font-weight: bolder;
  height: 100px;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 160px;
  transform: translate(-50%, -50%);
  user-select: none;
  width: 100px;
}

.iva {
  color: rgb(255, 255, 255);
  font-size: 1rem;
  text-shadow: 2px 2px 1px #000;
}

.info-card-body {
  font-weight: 500;
  margin: 35px auto 0;
  text-align: center;
  width: 275px;
}
.beneficios {
  color: var(--color-black-light);
  font-size: 1.25rem;
  font-weight: 600;
}
.ul-check {
  line-height: 2em;
}
.ul-check li {
  font-size: 1.25rem;
  list-style: none;
  margin-left: -30px;
}
.fa-check {
  color: green;
}
#slt-estudiante:is(:hover, :focus, :active),
#slt-premium:is(:hover, :focus, :active),
#slt-smart:is(:hover, :focus, :active) {
  border: 1px solid var(--color-orange);
  box-shadow: 0 0 4px 1px var(--color-orange);
}
#primer-ingreso1,
#primer-ingreso2,
#primer-ingreso3 {
  height: 18px;
  margin-top: 10px;
  width: 18px;
}

.form-check label {
  font-size: 1.1rem;
  margin-top: 6px;
}
#primer-ingreso1:is(:hover, :focus, :active, :checked),
#primer-ingreso2:is(:hover, :focus, :active, :checked),
#primer-ingreso3:is(:hover, :focus, :active, :checked) {
  background-color: var(--color-orange);
  border: 1px solid var(--color-orange);
  box-shadow: 0 0 4px 1px var(--color-black-light);
}

/* cards  */
.clases .card-header p {
  font-size: 1.25rem;
  font-weight: 500;
  padding-top: 10px;
}
.clases .card i {
  color: var(--color-orange);
  font-size: 45px;
  height: 45px;
  width: 45px;
}
.clases .card img.icon {
  height: 45px;
  width: 45px;
}

.clases .card-body img {
  height: 224px;
  width: 382px;
}

.clases .bg-icon {
  background-color: #000;
  border-radius: 50%;
  height: 70px;
  margin: auto;
  width: 70px;
}

.clases .card-footer .read-more-cards {
  background-color: #000;
  border-radius: 8px;
  color: var(--color-orange);
  display: block;
  font-weight: 500;
  margin: 5px auto;
  padding: 8px 20px;
  text-decoration: none;
  transition-duration: 0.5s;
  width: 150px;
}
.clases .card-footer .read-more-cards:hover {
  background-color: #ffbb00;
  color: #000;
  font-weight: 600;
  scale: 1.05;
}

.nav-link.active {
  color: #000 !important;
  background-color: var(--color-orange) !important;
  font-weight: 500;
}

.valores-text {
  font-size: 3rem;
}

.accordion-item {
  background-color: transparent !important;
}
.accordion-item button,
.accordion-item span {
  background-color: transparent !important;
  color: #fff;
  font-weight: 500;
  font-size: 2rem;
}

/* valores */
.banner-valores {
  background-attachment: fixed;
  background-image: url("../src/images/gym.jpg");

  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.795);
  color: #fff;
  height: calc(100vh);
  padding-top: var(--header-size);
  width: 100%;
}

.cicle-number {
  align-items: center;
  border: 2px solid #ffbb00;
  border-radius: 50%;
  display: flex;
  font-size: 1.2rem;
  font-weight: 500;
  height: 35px;
  justify-content: center;
  margin: 0 5px;
  width: 35px;
}
.text-acordeon {
  font-size: 1.2rem;
  padding-top: 5px;
}

.accordion-button:not(.collapsed) {
  background-color: #000 !important;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
  color: var(--color-orange);
  font-weight: bold;
}
.accordion-button:not(.collapsed) .cicle-number {
  background-color: var(--color-orange) !important;
  color: #000;
  border: 2px solid #000000;
}

.accordion-button:is(:hover, :focus) {
  border: none;
  box-shadow: none;
  outline: none;
}
.accordion-button {
  border: none !important;
  border-radius: 10px !important;
  box-shadow: none !important;
  outline: none !important;
}
.accordion-header {
  padding: 0;
}
.accordion-body {
  margin-left: 60px;
  max-width: 565px;
  padding: 0;
}

.text-acordeon {
  color: #f2f2f2;
  font-size: 1.4rem;
}
.accordion-button::after {
  background-image: none !important;
}

.accordion-button:not(.collapsed) .fa-chevron-down {
  transform: rotate(-180deg);
  transition-duration: 0.5s;
}
.accordion-button.collapsed .fa-chevron-down {
  transform: rotate(0deg);
  transition-duration: 0.5s;
}
.fa-chevron-down {
  position: absolute;
  right: 10px;
  font-size: 1.5rem;
}
.nav-item a {
  font-weight: bolder;
}
.nav-item a:hover {
  background-color: #ffbb00;
  color: #252525 !important;
}
